.listContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: blueviolet;
}
.listWrapper{
    display:flex;
    width: 100%;
    max-width: 1024px;
    background-color: white;
}